
<div  fxLayout="row"
      fxLayout.xs="column"
      fxLayoutAlign="center"
      fxLayoutAlign.xs="start"
      fxLayoutGap="10px"
      class="dashboard"
      >
    <div  fxFlex="25%"
          fxFlex.sm="100%"
          style="background-color:brown;">
            <section>
                    <mat-card>
                        <mat-card-title><span class ="spacer">My Queues 5</span></mat-card-title>
                          <mat-card-content>Queue Name 01</mat-card-content>
                          <mat-card-content>Queue Name 02</mat-card-content>
                          <mat-card-content>Queue Name 03</mat-card-content>
                          <mat-card-content>Queue Name 04</mat-card-content>
                          <mat-card-content>Queue Name 05</mat-card-content>
                        <mat-card-actions>MY NEXT GIFT</mat-card-actions>
                    </mat-card>
                </section>
    </div>
    <div  fxFlex="75%"
          fxFlex.sm="100%"
          style="background-color:cadetblue;">
                <section>
                    <mat-card>
                        <mat-card-title><span class ="spacer">My Pending Items 12</span></mat-card-title>
                          <mat-card-content>G-12345</mat-card-content>
                          <mat-card-content>P-54321</mat-card-content>
                          <mat-card-content>P-89065</mat-card-content>
                          <mat-card-content>P-67542</mat-card-content>
                          <mat-card-content>P-12096</mat-card-content>
                        <mat-card-actions>View Records</mat-card-actions>
                    </mat-card>
                </section>
    </div>
</div>
<div  fxLayout="row"
      fxLayout.xs="column"
      fxLayoutAlign="center center"
      fxLayoutAlign.xs="start"
      fxLayoutGap="10px"
      class="dashboard"
      >
    <div  fxFlex="25"
          fxFlex.sm="100%">
            <section>
                    <mat-card>
                        <mat-card-title><span class ="spacer">Quality 5</span></mat-card-title>
                          <mat-card-content>Quality 01</mat-card-content>
                          <mat-card-content>Quality 02</mat-card-content>
                          <mat-card-content>Quality 03</mat-card-content>
                          <mat-card-content>Quality 04</mat-card-content>
                          <mat-card-content>Quality 05</mat-card-content>
                        <mat-card-actions>Passed</mat-card-actions>
                    </mat-card>
                </section>

    </div>
    <div  fxFlex="75"
          fxFlex.sm="100%">
            <section>
                    <mat-card>
                        <mat-card-title><span class ="spacer">Productivity 5</span></mat-card-title>
                          <mat-card-content>Queue Type Name 01</mat-card-content>
                          <mat-card-content>Queue Type Name 02</mat-card-content>
                          <mat-card-content>Queue Type Name 03</mat-card-content>
                          <mat-card-content>Queue Type Name 04</mat-card-content>
                          <mat-card-content>Queue Type Name 05</mat-card-content>
                          <mat-card-actions>Productivity Type</mat-card-actions>
                    </mat-card>
                </section>
    </div>
</div>
