<div fxLayout
     fxLayout.xs="column"
     fxLayoutAlign="center"
     fxLayoutGap="10px"
     fxLayoutGap.xs="0"
     >
  <mat-toolbar fxFlex="100%">
      <mat-toolbar-row>

          <span class="scrtitle">
              <button mat-icon-button class="menubutton">
                  <mat-icon>menu</mat-icon>
              </button>
              <img src="/gmp/images/logo_gmp.svg" class="imglogo">
          </span>

          <span class ="flex-item main">
            <button mat-icon-button class="menubutton" >
              <mat-icon>search</mat-icon>
            </button>
            <button class="menubutton" >
                Gifts & Pledges
            </button>

            <button class="menubutton" >
                Reports
            </button>

            <button class ="menubutton" >
                    Data Import
            </button>

            <button class="menubutton" >
                Admin
            </button>

            </span>
            <div class="userinfo">
              <label style="text-align:right"><b>anand Sharma</b></label>
              <label style="font-weight:300">anand.sharma@mindtree.com</label>
            </div>
            <button mat-icon-button>
              <mat-icon >account_circle</mat-icon>
            </button>

            <span class="divide">&nbsp;</span>

            <button mat-icon-button>
              <mat-icon>apps</mat-icon>
            </button>

      </mat-toolbar-row>
  </mat-toolbar>
</div>
